<html>
  <head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Frontier (Winning) Project</title>
  </head>

  <body>
    <div id="vue-app">
      <h1>[[ testMsg ]]</h1>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: "#vue-app",
        delimiters: ['[[', ']]'],
        data: {
          testMsg: 'meowwww :3',
        },
      });
    </script>
  </body>
</html>